## Data Collection

Importing necessary dependencies

In [ ]:
import numpy as np
import pandas as pd

In [3]:
fraud_df = pd.read_csv("./Modified_Fraud_Call_Dataset.csv")
fraud_df.head()

,Unnamed: 0,Caller Number,Call Time,Call Type,Conversation,Sentiment Analysis
0,0,+1-602-484-3039,05:06:43,normal,What are you doing?,Neutral
1,1,+1-703-942-8189,15:08:08,Scam,YOU HAVE WON! As a valued Vodafone customer ou...,Positive
2,2,+1-901-383-7693,03:36:17,normal,"Ok, Let me see.",Positive
3,3,+1-602-747-4851,10:12:14,normal,"He will, you guys close?",Neutral
4,4,+1-214-359-8191,09:42:00,normal,Oh oh... Den muz change plan liao... Go back h...,Neutral

## Data Preprocessing - 1

In [4]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11854 entries, 0 to 11853
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          11854 non-null  int64
 1   Caller Number       11854 non-null  object
 2   Call Time           11854 non-null  object
 3   Call Type           11854 non-null  object
 4   Conversation        11854 non-null  object
 5   Sentiment Analysis  11854 non-null  object
dtypes: int64(1), object(5)
memory usage: 555.8+ KB

Replacing Null values with appropriate substitutes

In [5]:
fraud_df.isnull().values.any()   #Output implies that there exist no null values in the dataset

np.False_

In [6]:
#replacing null values in conversation column if in case there exist any
fraud_df["Conversation"] = fraud_df["Conversation"].where((pd.notnull(fraud_df["Conversation"])), '')
fraud_df

,Unnamed: 0,Caller Number,Call Time,Call Type,Conversation,Sentiment Analysis
0,0,+1-602-484-3039,05:06:43,normal,What are you doing?,Neutral
1,1,+1-703-942-8189,15:08:08,Scam,YOU HAVE WON! As a valued Vodafone customer ou...,Positive
2,2,+1-901-383-7693,03:36:17,normal,"Ok, Let me see.",Positive
3,3,+1-602-747-4851,10:12:14,normal,"He will, you guys close?",Neutral
4,4,+1-214-359-8191,09:42:00,normal,Oh oh... Den muz change plan liao... Go back h...,Neutral
...,...,...,...,...,...,...
11849,11849,+1-303-953-1271,12:25:05,normal,Looks like you found something to do other tha...,Positive
11850,11850,+1-305-819-5914,00:05:14,normal,Ok lor wat time Ã¼ finish?,Positive
11851,11851,+1-212-271-6786,16:37:00,normal,"Aight will do, thanks again for comin out",Positive
11852,11852,+1-512-678-5368,14:12:23,normal,Dun b sad.. It's over.. Dun thk abt it already...,Negative
11853,11853,+1-808-946-5691,10:50:35,normal,"Hi friend, which is best way to avoid missunde...",Positive

Correcting typo errors in the conversation column of the dataset

In [8]:
from textblob import TextBlob
from tqdm import tqdm

# Function to correct spelling
def correct_spelling_with_textblob(text):
    blob = TextBlob(text)
    return str(blob.correct())

# Enable the tqdm progress bar
tqdm.pandas()

# Apply correction function to the DataFrame column with progress bar
fraud_df['Conversation'] = fraud_df['Conversation'].progress_apply(correct_spelling_with_textblob)

fraud_df.to_csv('corrected_names.csv', index=False)

print("DataFrame saved to 'corrected_names.csv'")

100%|ââââââââââ| 11854/11854 [1:16:02<00:00,  2.60it/s]

DataFrame saved to 'corrected_names.csv'